.gen_stat {
  box-shadow: 0 0 5px 1px $disabled-color;
  margin-left: 240px;
  max-width: 86%;
  margin-top: 90px;
  background-color: white;
}

.header_gen_stat {
  width: 100%;
  justify-self: stretch;
  padding: 20px;
  border-bottom: solid 1px $disabled-color;
}

h3 {
  text-transform: uppercase;
  font-family: $brand-font;
  color: $header-color;
}

.input_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0 30px 0;
  margin-bottom: 30px;
  border-bottom: solid 1px $disabled-color;

  .input_date_section {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex-wrap: nowrap;
    flex-basis: 22%;
    border-radius: 5px;
    border: solid 1px $disabled-color;

    .input-date {
      display: flex;
      flex: 5 0 0%;
      line-height: 20px;
      padding: 5px;
      margin: 5px;
      font-family: $brand-font;
      color: $header-color;
      border-style: none;
      border-radius: 0;

      &:first-of-type {
        border-right: solid 1px $disabled-color;
        margin-right: -2px;
      }

      i {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 1 0 10%;
        margin-right: 10px;
      }
    }
  }

  .input_date_btn {
    margin: 10px;
    flex-basis: 5px;
  }
}

.gen-stat-img {
  margin-top: 50px;
  margin-left: 450px;
  padding-bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date_numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: unset;

  .date-number {
    flex-basis: 20%;
    margin: 10px 30px;
    border-bottom: solid 1px $disabled-color;
    display: flex;
    justify-content: space-between;

    span {
      display: flex;
      padding: 5px;
      white-space: nowrap;
      font-family: $brand-font;
      color: $header-color;

      span:first-of-type {
        font-weight: bold;
        justify-content: flex-start;
        flex:  0 0 30%;
      }

      span:last-of-type {
        color: $text-color;
        justify-content: flex-end;
        flex: 0 0 20%;
      }
    }

    .date-number-span {
      color: black;
    }
  }
}

.links {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px 1px $disabled-color;
  margin-left: 240px;
  max-width: 86%;
  margin-top: 30px;
  margin-bottom: 25px;
  background-color: white;

  .links_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .link {
      display: flex;
      width: 75%;
      justify-content: space-between;
      padding: 20px;
      border-bottom: solid 1px $disabled-color;
      flex-wrap: wrap;
      overflow: auto;

      &:hover {
        background-color: $hoover-color-default;

        span:nth-child(3) a {
          opacity: 1;

          i {
            font-weight: bold;
          }

          .link-icons-links {
            color: #ffb638;
          }
        }
      }

      span {
        padding: 5px;
        font-family: $brand-font;
        color: $header-color;
        flex: 1;
      }

      span:first-child {
        display: flex;
        flex: 0 0 0 40%;
        justify-content: flex-start;
        white-space: nowrap;
        font-weight: bold;
      }

      span:nth-child(2) {
        display: flex;
        a {
          text-decoration: none;
          color: $link-color;
        }

        a:hover {
          color: $main-color-active;
        }
      }

      span:nth-child(3) {
        display: flex;
        flex: 0 0 4%;

        a {
          opacity: 0;
        }

        .link-icon-links {
          color: $link-color-active;
          margin-right: 20px;
        }

        .link-icon-trash {
          color: $dark-color;
        }
      }
    }
  }

  .links_buttom {
    display: flex;
    width: 75%;
    justify-content: flex-start;
    padding: 20px;
    border-bottom: solid 1px $disabled-color;

    &:first-of-type .btn, &:last-of-type .btn {
      flex: unset;
      margin: 0 auto;
      margin-bottom: 10px;
    }

    &:last-of-type {
      margin-top: 10px;
      border-bottom: unset;
    }
  }
}

.header_links {
  width: 100%;
  justify-self: stretch;
  padding: 20px;
  margin: 0;
  border-bottom: solid 1px $disabled-color;
}
